---
const { title = "EtchNFT", description = "Build, inscribe, and remix weird onchain tools with EtchNFT." } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="theme-color" content="#000000" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.svg" />
</head>
